.btn {
  border-radius: 80px;
}
body {
  font-family: Space Grotesk;
}
.display-1 {
  font-family: 'Cinzel', serif;
  font-size: 4.375rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.46875rem;
}
.display-2 {
  font-family: 'Cinzel', serif;
  font-size: 2.375rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.96875rem;
}
.display-4 {
  font-family: 'Cinzel', serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Cinzel', serif;
  font-size: 1.375rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.71875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.0625rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.9rem;
    font-size: calc( 1.48125rem + (2.375 - 1.48125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.48125rem + (2.375 - 1.48125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.5rem 2.5rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 1.5625rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #8c8c95 !important;
}
.bg-success {
  background-color: #8c8c95 !important;
}
.bg-info {
  background-color: #8c8c95 !important;
}
.bg-warning {
  background-color: #8c8c95 !important;
}
.bg-danger {
  background-color: #8c8c95 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
}
.btn-info,
.btn-info:active {
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
}
.btn-success,
.btn-success:active {
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #616169 !important;
  border-color: #616169 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c8c95;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #616169 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c8c95;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #616169 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c8c95;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #616169 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c8c95;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #616169 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c8c95;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #616169 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #8c8c95;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #616169 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  border-color: #8c8c95 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #8c8c95 !important;
}
.text-secondary {
  color: #8c8c95 !important;
}
.text-success {
  color: #8c8c95 !important;
}
.text-info {
  color: #8c8c95 !important;
}
.text-warning {
  color: #8c8c95 !important;
}
.text-danger {
  color: #8c8c95 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #8c8c95 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #8c8c95 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #8c8c95 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #5a5a61 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #8c8c95 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #8c8c95 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #8c8c95 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #8c8c95 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.3s;
  /*position: relative;
        background-image: linear-gradient(currentColor 50%, currentColor 50%);
        background-size: 10000px 2px;
        background-repeat: no-repeat;
        background-position: 0 1.2em;*/
  text-decoration: underline;
}
.nav-tabs .nav-link.active {
  color: #8c8c95;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #8c8c95;
}
.alert-warning {
  background-color: #8c8c95;
}
.alert-danger {
  background-color: #8c8c95;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #8c8c95;
  border-color: #8c8c95;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ceced2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ceced2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ceced2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ceced2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ceced2;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Cinzel', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #8c8c95 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Cinzel', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #8c8c95;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #8c8c95;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #8c8c95;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #8c8c95;
  border-bottom-color: #8c8c95;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #8c8c95 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #8c8c95 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%238c8c95' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
p {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.container {
  max-width: 1220px;
}
a {
  transition: color 300ms ease !important;
  font-weight: 400 !important;
}
a.text-primary:hover {
  color: #8c8c95 !important;
}
a.text-secondary:hover {
  color: #8c8c95 !important;
}
a.text-success:hover {
  color: #8c8c95 !important;
}
a.text-info:hover {
  color: #8c8c95 !important;
}
a.text-warning:hover {
  color: #8c8c95 !important;
}
a.text-danger:hover {
  color: #8c8c95 !important;
}
a.text-white:hover {
  color: #8c8c95 !important;
}
a.text-black:hover {
  color: #8c8c95 !important;
}
.btn.btn-primary:hover {
  background-color: #14142b !important;
  border-color: #14142b !important;
  color: #ffffff !important;
}
.btn.btn-secondary {
  background: transparent !important;
  border: 1px solid #e2e3e9 !important;
  color: #14142b !important;
}
.btn.btn-secondary:hover {
  background: #e2e3e9 !important;
  color: #14142b !important;
}
.btn,
.btn-lg {
  box-shadow: none !important;
}
body {
  line-height: 1.667em;
  line-height: 30px;
}
.btn,
.btn-lg {
  margin-top: 0;
  margin-bottom: 0;
}
span.btn {
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
span.btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
a.btn {
  line-height: 20px;
  transform-style: preserve-3d !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
a.btn:hover {
  transform: translate3d(0px, -4px, 0.01px) !important;
  transition: color 350ms ease, transform 300ms ease, border 300ms ease, background-color 300ms ease, -webkit-transform 300ms ease !important;
}
button {
  background-color: transparent;
  border-color: transparent;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.cid-sQa3rrehX7 {
  z-index: 1000;
  width: 100%;
}
.cid-sQa3rrehX7 nav.navbar {
  position: fixed;
}
.cid-sQa3rrehX7 .mbr-iconfont {
  padding: 0 1rem;
}
.cid-sQa3rrehX7 .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-sQa3rrehX7 .wrapper {
    flex-direction: column;
  }
}
.cid-sQa3rrehX7 .nav-link {
  position: relative;
}
.cid-sQa3rrehX7 .nav-link:hover {
  color: #8c8c95 !important;
}
.cid-sQa3rrehX7 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQa3rrehX7 .dropdown-menu {
  padding: 1rem 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff !important;
}
.cid-sQa3rrehX7 .dropdown-item:hover,
.cid-sQa3rrehX7 .dropdown-item:focus {
  color: #8c8c95 !important;
}
.cid-sQa3rrehX7 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sQa3rrehX7 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sQa3rrehX7 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-sQa3rrehX7 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sQa3rrehX7 .container {
  display: flex;
  margin: auto;
}
.cid-sQa3rrehX7 .iconfont-wrapper {
  color: #161734 !important;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s;
}
.cid-sQa3rrehX7 .iconfont-wrapper:hover {
  color: #ffffff !important;
}
.cid-sQa3rrehX7 .nav-item:focus,
.cid-sQa3rrehX7 .nav-link:focus {
  outline: none;
}
.cid-sQa3rrehX7 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sQa3rrehX7 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sQa3rrehX7 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-sQa3rrehX7 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQa3rrehX7 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sQa3rrehX7 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sQa3rrehX7 .navbar-short {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sQa3rrehX7 .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: rgba(0, 0, 0, 0.4);
}
.cid-sQa3rrehX7 .navbar.opened {
  transition: all .3s;
}
.cid-sQa3rrehX7 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-sQa3rrehX7 .navbar .navbar-logo img {
  width: auto;
}
.cid-sQa3rrehX7 .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-sQa3rrehX7 .navbar.collapsed {
  justify-content: center;
}
.cid-sQa3rrehX7 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sQa3rrehX7 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sQa3rrehX7 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.6rem);
  }
}
.cid-sQa3rrehX7 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sQa3rrehX7 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sQa3rrehX7 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sQa3rrehX7 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sQa3rrehX7 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sQa3rrehX7 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sQa3rrehX7 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sQa3rrehX7 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sQa3rrehX7 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sQa3rrehX7 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sQa3rrehX7 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sQa3rrehX7 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sQa3rrehX7 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sQa3rrehX7 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sQa3rrehX7 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sQa3rrehX7 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sQa3rrehX7 .navbar .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sQa3rrehX7 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sQa3rrehX7 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sQa3rrehX7 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
}
.cid-sQa3rrehX7 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding-right: 2rem;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sQa3rrehX7 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sQa3rrehX7 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sQa3rrehX7 .dropdown-item.active,
.cid-sQa3rrehX7 .dropdown-item:active {
  background-color: transparent;
}
.cid-sQa3rrehX7 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sQa3rrehX7 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sQa3rrehX7 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sQa3rrehX7 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-sQa3rrehX7 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sQa3rrehX7 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sQa3rrehX7 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sQa3rrehX7 .navbar-buttons {
  text-align: center;
  min-width: 170px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cid-sQa3rrehX7 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-sQa3rrehX7 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sQa3rrehX7 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sQa3rrehX7 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sQa3rrehX7 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sQa3rrehX7 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sQa3rrehX7 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sQa3rrehX7 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sQa3rrehX7 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sQa3rrehX7 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sQa3rrehX7 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sQa3rrehX7 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sQa3rrehX7 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sQa3rrehX7 .navbar {
    height: 70px;
  }
  .cid-sQa3rrehX7 .navbar.opened {
    height: auto;
  }
  .cid-sQa3rrehX7 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sQa3rrehX7 .logo-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -5px;
  margin: 5px;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.cid-sQa3rrehX7 .logo-image:hover {
  transform: translateY(-5px);
}
.cid-sQa2qYzoQK {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/1500x500-1500x500.png");
}
.cid-sQa2qYzoQK .mbr-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  line-height: 1.171em;
  color: #ffffff;
}
.cid-sQa2qYzoQK .mbr-text {
  color: #8c8c95;
  margin-bottom: 26px;
  text-align: center;
}
.cid-sQa2qYzoQK .button-align {
  text-align: center;
}
.cid-sQa2qYzoQK .margin {
  margin-right: 14px;
}
.cid-sQa2qYzoQK .mbr-section-btn {
  display: block;
}
.cid-sQa2qYzoQK .container {
  max-width: 739px;
}
@media (max-width: 440px) {
  .cid-sQa2qYzoQK .margin {
    margin-right: 0px;
  }
  .cid-sQa2qYzoQK .b {
    margin-bottom: 20px;
  }
}
.cid-sQa2qYzoQK .btn {
  margin-top: 20px;
}
.cid-sQa2qYzoQK a.btn > span {
  margin-left: 0.5rem;
}
.cid-sQa2qYzoQK .mbr-text,
.cid-sQa2qYzoQK .button-align {
  color: #ffffff;
}
#custom-html-3 {
  /* Type valid CSS here */
}
#custom-html-3 h2 {
  text-align: center;
  color: #ffffff;
}
#custom-html-3 p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: #ffffff;
}
.cid-sW9zzAac0N {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #000000;
}
.cid-sW9zzAac0N .mbr-section-subtitle {
  color: #8c8c95;
  text-align: left;
  margin: auto;
  margin-bottom: 24px;
}
.cid-sW9zzAac0N .mbr-section-title {
  text-align: left;
  color: #14142b;
  margin-bottom: 20px;
  margin-top: 40px;
}
.cid-sW9zzAac0N .row {
  align-items: center;
  height: 100%;
}
.cid-sW9zzAac0N .wrapper {
  margin: auto;
}
.cid-sW9zzAac0N .t1 {
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .cid-sW9zzAac0N .t {
    padding-top: 20px;
  }
}
.cid-sQa3uyTS86 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sQa3uyTS86 img {
  border-radius: 0px;
}
.cid-sQa3uyTS86 .row {
  justify-content: center;
}
.cid-sQa3uyTS86 .mbr-section-title {
  margin-top: 24px;
  text-align: center;
  color: #8c8c95;
}
.cid-sW9PYOGqff {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-sW9PYOGqff .row {
  justify-content: center;
}
.cid-sW9PYOGqff .row .img-item {
  height: 354px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.7s;
  display: -webkit-flex;
  width: 100%;
}
.cid-sW9PYOGqff .row .img-item img {
  transition: all 0.7s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 1px;
}
@media (max-width: 768px) {
  .cid-sW9PYOGqff .top {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sW9PYOGqff .title {
    padding-left: 60px;
  }
}
@media (min-width: 1400px) {
  .cid-sW9PYOGqff .title {
    padding-left: 120px;
  }
}
.cid-sW9PYOGqff .btn {
  font-family: "Cormorant Garamond";
  padding: 0.8rem 4rem;
  position: relative;
  color: #c0bcb7;
}
.cid-sW9PYOGqff span {
  position: absolute;
  width: 105%;
  height: 80%;
  border: 1px solid #41392e;
}
.cid-sW9PYOGqff span::before {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 1px solid #41392e;
  border-left: 1px solid #41392e;
  transform-origin: top left;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-sW9PYOGqff span::after {
  content: "";
  right: -1px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #41392e;
  border-right: 1px solid #41392e;
  transform-origin: bottom right;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-sW9PYOGqff .btn:hover span::before {
  border-top: 1px solid #8c8c95;
  border-left: 1px solid #8c8c95;
  transform: scale3d(1, 1, 1);
}
.cid-sW9PYOGqff .btn:hover span::after {
  border-bottom: 1px solid #8c8c95;
  border-right: 1px solid #8c8c95;
  transform: scale3d(1, 1, 1);
}
.cid-sW9PYOGqff .item-title {
  top: 50%;
  left: 50%;
  min-width: 200px;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -20%);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.cid-sW9PYOGqff .mbr-text {
  font-style: italic;
  color: #9a948d;
  font-family: "Cormorant Garamond";
}
.cid-sW9PYOGqff h3 {
  font-family: "Cormorant Garamond";
}
.cid-sW9PYOGqff .mbr-title {
  color: #ffffff;
}
.cid-sQa3BYrLry {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sQa3BYrLry img {
  border-radius: 0px;
}
.cid-sQa3BYrLry .row {
  justify-content: center;
}
.cid-sQa3BYrLry .mbr-section-title {
  margin-top: 24px;
  text-align: center;
  color: #8c8c95;
}
.cid-sQa3zHug54 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #000000;
}
.cid-sQa3zHug54 img {
  border-radius: 0px;
}
.cid-sQa3zHug54 .row {
  justify-content: center;
}
.cid-sQa3zHug54 .mbr-section-title {
  margin-top: 24px;
  text-align: center;
  color: #8c8c95;
}
.cid-sQa3vU1yz5 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sQa3vU1yz5 img {
  border-radius: 0px;
}
.cid-sQa3vU1yz5 .row {
  justify-content: center;
}
.cid-sQa3vU1yz5 .mbr-section-title {
  margin-top: 24px;
  text-align: center;
  color: #8c8c95;
}
.cid-sUNxhnNn6Z {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
@media (min-width: 992px) {
  .cid-sUNxhnNn6Z .col-lg-2 {
    width: 20%;
  }
}
.cid-sUNxhnNn6Z img {
  border-radius: 30px;
}
.cid-sUNxhnNn6Z .item {
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sUNxhnNn6Z img,
.cid-sUNxhnNn6Z .item-img {
  width: 100%;
  transition: all 0.3s;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-sUNxhnNn6Z h5 {
  margin: 0;
}
.cid-sUNxhnNn6Z .item:focus,
.cid-sUNxhnNn6Z span:focus {
  outline: none;
}
.cid-sUNxhnNn6Z .item-wrapper {
  position: relative;
  border-radius: 0px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sUNxhnNn6Z .item-content {
  padding-top: 1rem;
}
.cid-sUNxhnNn6Z .mbr-section-title {
  color: #121212;
}
.cid-sUNxhnNn6Z .item-title {
  color: #ffffff;
  text-align: center;
}
.cid-sUNxhnNn6Z .item-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-sUNxhnNn6Z .mbr-section-subtitle {
  color: #666666;
}
.cid-sQa4kliDi1 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/drop-copy-1900x396.png");
}
.cid-sQa4kliDi1 .mbr-section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  line-height: 1.171em;
  color: #ffffff;
}
.cid-sQa4kliDi1 .mbr-text {
  color: #8c8c95;
  margin-bottom: 26px;
  text-align: center;
}
.cid-sQa4kliDi1 .button-align {
  text-align: center;
}
.cid-sQa4kliDi1 .margin {
  margin-right: 14px;
}
.cid-sQa4kliDi1 .mbr-section-btn {
  display: block;
}
.cid-sQa4kliDi1 .container {
  max-width: 739px;
}
@media (max-width: 440px) {
  .cid-sQa4kliDi1 .margin {
    margin-right: 0px;
  }
  .cid-sQa4kliDi1 .b {
    margin-bottom: 20px;
  }
}
.cid-sQa4kliDi1 .btn {
  margin-top: 20px;
}
.cid-sQa4kliDi1 a.btn > span {
  margin-left: 0.5rem;
}
.cid-sQa4lfF1WU {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-sQa4lfF1WU .mbr-text {
  color: #ffffff;
}
.cid-sQa4lfF1WU .line {
  height: 1px;
  width: 100%;
  background-color: #c2c2c2;
  margin-bottom: 32px;
}
.cid-sW6Sw05Oap.popup-builder {
  background-color: #ffffff;
}
.cid-sW6Sw05Oap.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sW6Sw05Oap.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sW6Sw05Oap .modal-content,
.cid-sW6Sw05Oap .modal-dialog {
  height: auto;
}
.cid-sW6Sw05Oap .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sW6Sw05Oap .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sW6Sw05Oap .form-wrapper .mbr-form .form-group,
  .cid-sW6Sw05Oap .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sW6Sw05Oap .card-img {
  width: 100%;
  margin: auto;
  border-radius: 30px;
}
.cid-sW6Sw05Oap .mbr-figure img {
  width: 50%;
  border-radius: 30px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cid-sW6Sw05Oap .mbr-text {
  text-align: center;
  color: #ffffff;
}
.cid-sW6Sw05Oap .pt-0 {
  padding-top: 0 !important;
}
.cid-sW6Sw05Oap .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sW6Sw05Oap .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sW6Sw05Oap .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sW6Sw05Oap .modal-open {
  overflow: hidden;
}
.cid-sW6Sw05Oap .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sW6Sw05Oap .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sW6Sw05Oap .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sW6Sw05Oap .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sW6Sw05Oap .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sW6Sw05Oap .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sW6Sw05Oap .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sW6Sw05Oap .modal-content {
  background: #000000;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sW6Sw05Oap .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-sW6Sw05Oap .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sW6Sw05Oap .modal-backdrop.fade {
  opacity: 0;
}
.cid-sW6Sw05Oap .modal-backdrop.show {
  opacity: .5;
}
.cid-sW6Sw05Oap .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sW6Sw05Oap .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sW6Sw05Oap .modal-header {
    padding: 1rem;
  }
}
.cid-sW6Sw05Oap .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sW6Sw05Oap .modal-header .close svg {
  fill: #ffffff;
}
.cid-sW6Sw05Oap .modal-header .close:hover {
  opacity: 1;
}
.cid-sW6Sw05Oap .modal-header .close:focus {
  outline: none;
}
.cid-sW6Sw05Oap .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #a67d18;
}
.cid-sW6Sw05Oap .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-sW6Sw05Oap .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sW6Sw05Oap .modal-body {
    padding: 1rem;
  }
}
.cid-sW6Sw05Oap .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sW6Sw05Oap .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sW6Sw05Oap .modal-footer {
    padding: 1rem;
  }
}
.cid-sW6Sw05Oap .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sW6Sw05Oap .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sW6Sw05Oap .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sW6Sw05Oap .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sW6Sw05Oap .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-sW6Sw05Oap .modal-lg,
  .cid-sW6Sw05Oap .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-sW6Sw05Oap .modal-xl {
    max-width: 1140px;
  }
}
.cid-sW6Sw05Oap .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sW6Sw05Oap .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sW6Sw05Oap .form-group {
  margin-bottom: 1rem;
}
.cid-sW6Sw05Oap .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sW6Sw05Oap .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sW6Sw05Oap .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sW6Sw05Oap .mbr-section-btn {
  margin: 0;
}
.cid-sW6Sw05Oap .mbr-section-btn .btn {
  margin: 0;
}
.cid-sWcEHj6NnR.popup-builder {
  background-color: #ffffff;
}
.cid-sWcEHj6NnR.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sWcEHj6NnR.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sWcEHj6NnR .modal-content,
.cid-sWcEHj6NnR .modal-dialog {
  height: auto;
}
.cid-sWcEHj6NnR .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sWcEHj6NnR .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sWcEHj6NnR .form-wrapper .mbr-form .form-group,
  .cid-sWcEHj6NnR .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sWcEHj6NnR .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sWcEHj6NnR .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sWcEHj6NnR .mbr-text {
  text-align: center;
  color: #ffffff;
}
.cid-sWcEHj6NnR .pt-0 {
  padding-top: 0 !important;
}
.cid-sWcEHj6NnR .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sWcEHj6NnR .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sWcEHj6NnR .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sWcEHj6NnR .modal-open {
  overflow: hidden;
}
.cid-sWcEHj6NnR .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sWcEHj6NnR .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sWcEHj6NnR .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sWcEHj6NnR .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sWcEHj6NnR .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sWcEHj6NnR .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sWcEHj6NnR .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sWcEHj6NnR .modal-content {
  background: #000000;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sWcEHj6NnR .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-sWcEHj6NnR .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sWcEHj6NnR .modal-backdrop.fade {
  opacity: 0;
}
.cid-sWcEHj6NnR .modal-backdrop.show {
  opacity: .5;
}
.cid-sWcEHj6NnR .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sWcEHj6NnR .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sWcEHj6NnR .modal-header {
    padding: 1rem;
  }
}
.cid-sWcEHj6NnR .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sWcEHj6NnR .modal-header .close svg {
  fill: #ffffff;
}
.cid-sWcEHj6NnR .modal-header .close:hover {
  opacity: 1;
}
.cid-sWcEHj6NnR .modal-header .close:focus {
  outline: none;
}
.cid-sWcEHj6NnR .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #a67d18;
}
.cid-sWcEHj6NnR .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-sWcEHj6NnR .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sWcEHj6NnR .modal-body {
    padding: 1rem;
  }
}
.cid-sWcEHj6NnR .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sWcEHj6NnR .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sWcEHj6NnR .modal-footer {
    padding: 1rem;
  }
}
.cid-sWcEHj6NnR .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sWcEHj6NnR .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sWcEHj6NnR .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sWcEHj6NnR .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sWcEHj6NnR .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-sWcEHj6NnR .modal-lg,
  .cid-sWcEHj6NnR .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-sWcEHj6NnR .modal-xl {
    max-width: 1140px;
  }
}
.cid-sWcEHj6NnR .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sWcEHj6NnR .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sWcEHj6NnR .form-group {
  margin-bottom: 1rem;
}
.cid-sWcEHj6NnR .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sWcEHj6NnR .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sWcEHj6NnR .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sWcEHj6NnR .mbr-section-btn {
  margin: 0;
}
.cid-sWcEHj6NnR .mbr-section-btn .btn {
  margin: 0;
}
